$color-grey-dark-2:#333;
$color-light-grey-1:#f7f7f7;

$bp-largest:75em; //1200px screen
$bp-larger:68.75em; //1100px screen
$bp-large:62.5em; //1000px screen
$bp-md:50em; //800px screen  
$bp-sm:37.5em; //600px screen

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width:$bp-large) {
    font-size: 50%; //8px/16px
  }
}


body {

  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: $color-grey-dark-2;
  letter-spacing: .1rem;
  background-color: $color-light-grey-1;
  background-image: linear-gradient(rgba(white, .5), rgba(white, .5)), url(./container/congruent_outline.png);


  @media only screen and (max-width:$bp-sm) {
    padding: 1rem;
  }

}


.App {

  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  text-align: center;
  background-image: radial-gradient(rgba(#135B0D, .6), rgba(#0D3909, .8));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  flex: 0 0 100%;
  // height: 100vh;
  // max-height: 150vh;

}

.landing-page {

  background-image: linear-gradient(to right bottom, rgba(#135B0D, .9), rgba(#0D3909, .9));
  height: 50%;
  width: 50%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1rem 2rem rgba(black, .6);
}

.horizontal-div {
  display: flex;

}

.heading {


  &-2 {
    font-size: 6rem;
    margin: 2rem 2rem 5rem 2rem;

    &__entered {
      color: #D4AF37;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: black;
      display: inline-block;
      background-image: linear-gradient(to right, #D4AF37, #bcb380);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;


    }

    &__entering {
      animation: moveInTop 2s ease-in-out;
    }

  }


  &-main {
    font-size: 4rem;
  }
}



.board {
  display: flex;
  padding: 5rem;
  align-self: stretch;
}

.btn {
  text-decoration: none;
  outline: none;
  border: none;
  padding: 1rem 2rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 5px;

  text-transform: uppercase;
  color: #fff;
  background-color: black;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 2rem;


  &__hit,
  &__stand {}

  &__disabled {
    background-color: rgba(black, .5);
  }
}

.player,
.dealer {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  max-width: 200px;

}

.card {
  margin-left: -18%;
  margin-bottom: .5rem;
  box-shadow: 0 2rem 4rem rgba(rgb(11, 44, 8), .5);

  &-player__entered {
    margin-left: -18%;
    margin-bottom: .5rem;
    box-shadow: 0 2rem 4rem rgba(rgb(11, 44, 8), .5);
  }

  &-player__entering {
    opacity: 0;
    animation: playerCardAnimation 2s ease;
  }

  &-dealer__entered {}

  &-dealer__entering {
    animation: dealerCardAnimation 2s ease;

  }

}


.bet {
  display: flex;
}

.chip {
  height: 50px;
  transition: all .1s;

  &__red {
    height: 56px;
  }

  &__black {}

  &:hover {
    transform: translateY(-1px);
  }
}

.score {
  font-size: 1.6rem;
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}


.icon {
  color: $color-light-grey-1;
  font-size: 2rem;
  margin: 1rem;

  &__setting {
    align-self: flex-end;
    margin-top: -1rem;
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem);

  }

  100% {
    opacity: 1;
    transform: translateY(0rem);


  }
}

@keyframes playerCardAnimation {
  0% {
    opacity: 0;
    transform: translateX(-20rem) translateY(30rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);

  }
}

@keyframes dealerCardAnimation {
  0% {
    opacity: 0;
    transform: translateX(20rem) translateY(30rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);

  }
}